{# app/Resources/views/default/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Youtubular{% endblock %}

{% block body %}

    <h1>Welcome to Youtubular</h1>
    {% include 'default/searchform.html.twig' %}

{% endblock %}