{# app/Resources/views/youtubular/searchresult.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Youtubular{% endblock %}

{% block body %}
    <h1>Thanks for using Youtubular!</h1>
    <p>You searched for {{ searchTerm }}.</p>
{% endblock %}