{# app/Resources/views/youtubular/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Youtubular{% endblock %}

{% block body %}
    <h1>Welcome to Youtubular!</h1>
    <p>Please enter your search text.</p>
{% endblock %}